<div class="container-main">
  <h1 class="heading-main">All Villas</h1>
  <hr class="divider-show">
</div>

<div class="container-main">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <% @villas.each do |villa| %>
          <div class="col-md-6">
            <div class="card card-trip mb-4">
              <%= link_to cl_image_tag(villa.img_url.key, alt: villa.villa_name, class: "img-top", height: 300, width: 400, crop: :fill), villa_path(villa) %>

              <div class="card-body card-trip-infos">
                <div>
                  <h2 class="card-title"><%= link_to villa.villa_name, villa_path(villa) %></h2>
                  <p class="card-text">Hosted By: <%= villa.user.first_name %> <%= villa.user.last_name %></p>
                </div>
                <div class="d-flex flex-row">
                  <div class="rating-container">
                    <% if villa.rating.present? %>
                      <% villa.rating.round.times do %>
                        <i class="fas fa-star star-yellow"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <h2 class="card-trip-pricing">£<%= villa.price %></h2>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="map-placeholder">
      </div>
    </div>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
