<div class="container-main">
  <h3 class="mt-4"><%= link_to "< Back", villas_path %></h3>
</div>

<div class="container-main">
  <div class="villa-card">
    <%= image_tag @villa.img_url %>

    <div class="villa-info">
      <h1><%= @villa.villa_name %></h1>
      <p><em><%= @villa.villa_location %></em></p>
      <p><%= @villa.description %></p>
      <p><strong>£<%= @villa.price %> Per night</strong></p>
      <hr class="divider-show">
      <% if @villa.rating.present? %>
      <%= @villa.rating %> <%= '⭐️'* @villa.rating %>
      <% end %>
    </div>
    <% if @villa.user == current_user %>
        <div class="d-none">
          <%= link_to "Reserve this villa", new_villa_booking_path(@villa), class: "btn-show" %>
        </div>
    <% else %>
        <div>
          <%= link_to "Reserve this villa", new_villa_booking_path(@villa), class: "btn-show" %>
        </div>
    <% end %>
  </div>
</div>


<% if @villa.user.present? %>
  <%= image_tag @villa.user.img_url, class: "test" %>
<% end %>
