<div class="my-container">
  <div class="villa-card">
    <%= image_tag @villa.img_url %>

    <div class="villa-info">
      <h1><%= @villa.villa_name %></h1>
      <p><em><%= @villa.villa_location %></em></p>
      <hr class="divider">
      <p><%= @villa.description %></p>
      <p><strong>$<%= @villa.price %> night</strong></p>
      <%= @villa.rating %> <%= '⭐️'* @villa.rating %>
    </div>

  </div>
</div>


<div class="my-container">
  <br>

  <div>
    <%= link_to "Reserve the villa", new_villa_booking_path(@villa), class: "btn btn-primary btn-nav" %>
  </div>

  <br>
  <%= link_to "Back to Villas List", villas_path, class: "btn btn-primary btn-nav" %>
  <%= link_to 'Back to My Properties', dashboard_path, class: 'btn btn-secondary' %>

</div>
