<div class="container" >
  <h1><%= @villa.villa_name %></h1>
  <img src="<%= @villa.img_url%>" alt="recipe image" width="600px" height="400px" >
  <p><%= @villa.villa_location %></p>
  <p><%= @villa.description %></p>
  <p>£<%= @villa.price %> night</p>
  <p><%= @villa.description %></p>
  <div>
    <p>Hosted by <%= @villa.user.first_name %> <%= @villa.user.last_name %> </p>
  </div>
  <div>
    <%= @villa.rating %> <%= '⭐️'* @villa.rating %>
  </div>

  <br>
  <%= link_to "Back to Villas List", villas_path, class: "btn btn-primary btn-nav" %>
  <%= link_to 'Back to My Properties', dashboard_path, class: 'btn btn-secondary' %>
</div>
