<div class="container" >
  <h1><%= @villa.villa_name %></h1>
  <img src="<%= @villa.img_url%>" alt="recipe image" width="600px" height="400px" >
  <p><%= @villa.villa_location %></p>
  <p><%= @villa.description %></p>
  <p>£<%= @villa.price %> night</p>
  <p><%= @villa.description %></p>
  <div>
    <p>Hosted by <%= @villa.user.first_name %> <%= @villa.user.last_name %> </p>
  </div>
  <div>
    <%= @villa.rating %> <%= '⭐️'* @villa.rating %>
  </div>

  <br>

  <div>
    <%= link_to "Reserve the villa", new_villa_booking_path(@villa), class: "btn btn-primary btn-nav" %>
  </div>
  <%= link_to "Back to villas list", villas_path, class: "btn btn-primary btn-nav" %>
</div>
