<div class="container-footer-top">
  <div class="container-main">
    <div class="my-footer">

      <div>
        <h4>Links</h4>
        <ul>
          <li><%= link_to "Home", villas_path %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Favourites", villas_path %></li>
          <li><%= link_to "Profile", villas_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>

    </div>
  </div>
</div>
