<div class="my-container">

  <h1>My Properties</h1>

  <% if @villas.any? %>
    <div class="row">
      <% @villas.each do |villa| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag villa.img_url, class: "card-img-top", alt: villa.villa_name %>
            <div class="card-body">
              <h5 class="card-title"><%= villa.villa_name %></h5>
              <p class="card-text"><%= villa.description %></p>
              <p class="card-text"><strong>Price:</strong> $<%= villa.price %> per night</p>
              <div class="d-flex justify-content-between">
                <%= link_to 'View Details', villa_path(villa), class: 'btn btn-primary btn-sand btn-sand' %>
                <%= link_to 'Delete', villa_path(villa),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this property?' },
                      class: 'btn btn-primary btn-red' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have not listed any properties yet.</p>
  <% end %>

  <div class="mt-3">
    <%= link_to 'Add New Property', new_villa_path, class: 'btn btn-success btn-green' %>
  </div>
</div>

<br>

<div class="my-container">
  <h1>Booking Requests to Confirm</h1>
  <% if @booking_requests.any? %>
    <div class="row">
      <% @booking_requests.each do |request| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag request.villa.img_url, class: "card-img-top", alt: request.villa.villa_name %>
            <div class="card-body">
              <h5 class="card-title"><%= request.villa.villa_name %></h5>
              <p class="card-text"><%= request.villa.description %></p>
              <p class="card-text"><%= request.start_date %> to <%= request.end_date %></p>
              <p class="card-text"><%= request.confirmed %></p>
              <div class="d-flex justify-content-between">
                <%= link_to 'Amend Request', edit_villa_booking_path(request.villa, request), class: 'btn btn-primary  btn-sand' %>
                <%= link_to 'Cancel Request', booking_path(request),
                      data: {method: :delete, confirm: 'Are you sure you want to delete this request?' },
                      class: 'btn btn-primary btn-red' %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have no booking requests to confirm.</p>
  <% end %>
</div>

<div class="my-container">
  <h1>My Booking</h1>
  <% if @my_bookings.any? %>
    <div class="row">
      <% @my_bookings.each do |booking| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <%= image_tag booking.villa.img_url, class: "card-img-top", alt: booking.villa.villa_name %>
            <div class="card-body">
              <h5 class="card-title"><%= booking.villa.villa_name %></h5>
              <p class="card-text"><%= booking.villa.description %></p>
              <p class="card-text"><%= booking.start_date %> to <%= booking.end_date %></p>
              <div class="d-flex justify-content-between">
                <%= link_to 'Amend Booking', edit_villa_booking_path(booking.villa, booking), class: 'btn btn-primary btn-sand' %>
                <%= link_to 'Cancel Booking', villa_booking_path(booking.villa, booking),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this booking?' },
                      class: 'btn btn-primary btn-red' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have no bookings yet.</p>
  <% end %>
</div>
